<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wyyc.zqqworkproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.wyyc.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyCoustomViewActivity">
        </activity>
        <activity android:name=".ScrollerTestActivity">
        </activity>
        <activity android:name=".ViewTestActivity">
        </activity>
        <activity android:name=".ViewDragHelperActivity">
        </activity>
        <activity android:name=".ViewGroup1Activity">
        </activity>
        <activity android:name=".RecycleViewActivity">
        </activity>
        <activity android:name=".FlowLayoutActivity">
        </activity>
        <activity android:name=".RxjavaDemoActivity">
        </activity>
        <activity android:name=".DaggerTestActivity">
        </activity>
        <activity android:name="com.wyyc.mvp.MvpTestActivity">
        </activity>
        <activity android:name="com.wyyc.mymvpframe.ui.news.MyMvpFrameActivity">
        </activity>
        <activity android:name=".DialogTestActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".BottomSheetActivity">
        </activity>
        <activity android:name=".MyViewColorActivity">
        </activity>
    </application>

</manifest>