<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyyc.zqqworkproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.wyyc.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyCoustomViewActivity" />
        <activity android:name=".ScrollerTestActivity" />
        <activity android:name=".ViewTestActivity" />
        <activity android:name=".ViewDragHelperActivity" />
        <activity android:name=".ViewGroup1Activity" />
        <activity android:name=".RecycleViewActivity" />
        <activity android:name=".FlowLayoutActivity" />
        <activity android:name=".RxjavaDemoActivity" />
        <activity android:name=".DaggerTestActivity" />
        <activity android:name="com.wyyc.mvp.MvpTestActivity" />
        <activity android:name="com.wyyc.mymvpframe.ui.news.MyMvpFrameActivity" />
        <activity android:name=".DialogTestActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".BottomSheetActivity" />
        <activity android:name=".MyViewColorActivity" />
        <activity android:name=".TableViewActivity" />
        <activity android:name=".TaoBaoActivity" />
        <activity android:name=".SplashViewActivity" />
        <activity android:name=".AnimFrameLayoutActivity"></activity>
    </application>

</manifest>